#Jonas la Cour Emails
Jonas la Cour <jonaslacour1@gmail.com> <jonaslacour1@gmail.com>
Jonas la Cour <jonaslacour1@gmail.com> <31731967+jonasdelacour@users.noreply.github.com>

#James Avery Emails
James Avery <avery@diku.dk> <avery@diku.dk>
James Avery <avery@diku.dk> <avery@iris.(none)>
James Avery <avery@diku.dk> <avery@nbi.dk>
James Avery <avery@diku.dk> <avery@nbi.ku.dk>
James Avery <avery@diku.dk> <avery@localhost.localdomain>

#Peter Schwerdtfeger Emails
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <p.a.schwerdtfeger@massey.ac.nz>
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <paschwer@IT065252.local>
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <paschwer@Users-MacBook-Pro-2.local>
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <paschwer@dhcp-225.wireless>
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <paschwer@it046116.massey.ac.nz>
Peter Schwerdtfeger <p.a.schwerdtfeger@massey.ac.nz> <paschwer@ma15076.chemie.uni-marburg.de>

#Lukas Wirz Emails
Lukas Wirz <l.wirz@massey.ac.nz> <l.wirz@massey.ac.nz>
Lukas Wirz <l.wirz@massey.ac.nz> <wirz@vanadium.(none)>
Lukas Wirz <l.wirz@massey.ac.nz> <lukasnw@kjemi.uio.no>
